* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: aquamarine;
    padding: 20px 0;
}

select{
    padding: 8px;
    border : none;
    border-radius: 5px;
    background-color: rgb(57, 196, 150);
    color: whitesmoke;
}

#play{
    margin-top: 15px;
    border: 1px solid #71d5e2;
    background-color: #ebb6ce;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1.2rem;
    transition: transform .1s;
}

#play:hover{
    transform: scale(1.1);
}

.app{
   
    display: flex;
    justify-content: center;
    text-align: center;
}

.questions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question-box {
    background-color: #71d5e2;
    margin: 10px;
    padding: 0 40px 10px 40px;
    border-radius: 10px;
}

.question-box h1 {
    color: #f93d92;
    font-weight: 600;
}

.question-buttons{
    display: flex;
    flex-direction: row;
}

.question-button{
    margin: 5px;
    padding: 10px 12px 12px;
    border-style: none;
    border-radius: 25px;
    background-color: #ff63a9;
    color: antiquewhite;
    font-weight: 700;
    font-size: 1.3rem;
}

.question-button:disabled{
    background-color: lightgrey;
    color: rgb(214, 27, 114);
}

button:enabled{
    cursor: pointer;
}

.answer-display {
    display: flex;    
    justify-content: center;
    align-items: center; 
    height: 30px;
}

.wrong{
    color: rgb(202, 22, 46);
}

.correct{
    color:#056d15;
}   

.answer{
    color: rgb(7, 203, 46)!important;
}
